{% extends 'base.html.twig' %}

{% block body %}
    <h1>Items list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Collection</th>
                <th>User</th>
                <th>Code</th>
                <th>Description</th>
                <th>Imageurl</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for item in items %}
            <tr>
                <td><a href="{{ path('etewa_show', { 'id': item.id }) }}">{{ item.id }}</a></td>
                <td>{{ item.title }}</td>
                <td>{{ item.collection }}</td>
                <td>{{ item.user }}</td>
                <td>{{ item.code }}</td>
                <td>{{ item.description }}</td>
                <td>{{ item.imageUrl }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('etewa_show', { 'id': item.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('etewa_edit', { 'id': item.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('etewa_new') }}">Create a new item</a>
        </li>
    </ul>
{% endblock %}
